<ion-header>
	<ion-toolbar color="tertiary">
		<ion-title>
			Heroes
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="dark">
	<ion-list>
		<ion-item-sliding *ngFor="let hero of heroes" color="dark" #slidingItem>
			<ion-item color="dark" (click)="getHero(hero.id)">
				<ion-thumbnail item-start>
					<img [src]="hero.imgAvailable ? '../../../assets/heroes portraits/'+hero.id+'.png' : '../../../assets/heroes portraits/default.png'">
				</ion-thumbnail>
				<span class="ion-margin-start">
					{{ hero.name }}
				</span>
			</ion-item>
			<ion-item-options side="start" (click)="saveFavorite(hero, slidingItem);">
				<button ion-button class="color-dark">
					<ion-icon name="ios-star" color="warning"></ion-icon>
				</button>
				</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>