// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './theme/variables.scss';

// apply styles to the entire app, all ion lists should be dark
ion-content {
	ion-list {
		background-color: map-get($colors, dark) !important;
	}
	ion-item-sliding {
		ion-item {
			background-color: map-get($colors, dark);			
			padding: 10px 0px;

		}
		background-color: map-get($colors, dark);
	}
}

.color-danger {
	background-color: map-get($colors, danger) !important;
}
.color-dark {
	background-color: map-get($colors, dark) !important;
}
